In [ ]:
#section 1
#1 qns-write the output of the following
#k=['a','b','c','d','e']
#print(k[-1:-7:-1])

k=['a','b','c','d','e']
print(k[-1:-7:-1])

['e', 'd', 'c', 'b', 'a']

In [ ]:
#2 qns-reverse a list using python
#list1=[100,200,300,400,500]

list1=[100,200,300,400,500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [ ]:
#3 qns-given two numbers,write a python code to find the maximum of these two numbers
#sample input:a=2,b=4

n=int(input('enter the first number'))
m=int(input('enter the second number'))
x=(n,m)
print(max(x),'is the maximum')

enter the first number2
enter the second number4
4 is the maximum

In [ ]:
#section 2
#4 qns-write a python program to ;rint the current year,month and day

year=2002
month=9
day=11
print(year,month,day,sep='/')

2002/9/11

In [ ]:
#5 qns-write a python program to construct the following pattern,using a nested for loop

a=int(input('enter the number'))
for i in range(1,a+1):
  for j in range(1,i):
    print('*',end='')
  print()
for i in range(a,0,-1):
  for j in range(0,i):
    print('*',end='')
  print()

enter the number5

*
**
***
****
*****
****
***
**
*

In [ ]:
#6 qns-write a program to accept a string from the user and display characters that are present at an even index number

user_in=input('enter a string:')
even=[]
for i in range(len(user_in)):
    if (i+1) % 2 ==0:
      even.append(user_in[i])
print('even:{}'.format(even))

enter a string:sethu
even:['e', 'h']

In [ ]:
#section 3
#7 qns-modify the element of a nested list inside the following list:
#sample input:list1=[5,[10,15,[20,25,[30,35],40],45],50]
#change the element 35 to 3500

list1=[5,[10,15,[20,25,[30,35],40],45],50]
list1[-2][-2][-2][-1]=('3500')
print(list1)

[5, [10, 15, [20, 25, [30, '3500'], 40], 45], 50]

In [ ]:
#8 qns-write a while loop to display only alphabets from a string

string=input('enter a string:')
alpha=''
for char in string:
  if char.isalpha():
    alpha += char
print(alpha)

enter a string:dream2002
dream

In [21]:
#9 qns-python program to convert the temperature in degree centigrade to fahrenheit and viceversa

Ask=(input("Type C to convert to centigrade / Type F to convert to Fahrenhiet "))

if Ask.upper()=='F':
  Temp_F=int(input('Temp in Centigrade '))
  print((Temp_F-32)/1.8)
elif Ask.upper()=='C':
  Temp_c=int(input('Temp in Fahrenhiet '))
  print((Temp_c*1.8)+32)

Type C to convert to centigrade / Type F to convert to Fahrenhiet f
Temp in Centigrade 1
-17.22222222222222